@model IEnumerable<WXStudio.EFModel.Entities.DataMgt.Salesman>

@{
    ViewBag.Title = "销售人员管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>销售人员管理</h2>

<p>
    <a href="~/Salesmen/ExportCSV" class="siteButton">导出到Excel</a>
    @*@Html.ActionLink("导出", "Export")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesmanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WXCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WXNickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column2)
        </th>
        @*<th>
                    @Html.DisplayNameFor(model => model.Column1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Column2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Column3)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesmanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            @*<td>
                        @Html.DisplayFor(modelItem => item.Column1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Column2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Column3)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>*@
            @Html.HiddenFor(modelItem => item.SalesmanId)
            @Html.HiddenFor(modelItem => item.Column1)
            @Html.HiddenFor(modelItem => item.Column2)
            @Html.HiddenFor(modelItem => item.Column3)
            @Html.HiddenFor(modelItem => item.CompanyID)
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.SalesmanId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.SalesmanId }) |*@
                @Html.ActionLink("删除", "Delete", new { id = item.SalesmanId })
            </td>
        </tr>
    }

</table>
